<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qtz.ht.user.dao.HtUserRoleDao" >
<!-- Result Map com.qtz.ht.user.vo.HtUserRole-->
<resultMap id="BaseResultMap" type="com.qtz.ht.user.vo.HtUserRole" >
	 <result column="dm_id"  property="dmId"/> 
	 <result column="staff_id"  property="staffId"/> 
	 <result column="roleid"  property="roleid"/> 
	 <result column="cr_user_id"  property="crUserId"/> 
	 <result column="crname"  property="crname"/> 
	 <result column="crtime"  property="crtime"/> 
	
</resultMap>

<!-- ht_user_role table all fields -->
<sql id="Base_Column_List" >
	 t.dm_id,t.staff_id,t.roleid,t.cr_user_id,t.crname,t.crtime
</sql>

<!-- 查询条件 -->
<sql id="Example_Where_Clause">
<where>
	<if test="dmId != null  ">
		 and t.dm_id=#{dmId}
	</if>
	<if test="staffId != null  ">
		 and t.staff_id=#{staffId}
	</if>
	<if test="roleid != null  ">
		 and t.roleid=#{roleid}
	</if>
	<if test="crUserId != null  ">
		 and t.cr_user_id=#{crUserId}
	</if>
	<if test="crname != null  and crname != '' ">
		 and t.crname=#{crname}
	</if>
	<if test="crtime != null  ">
		 and t.crtime=#{crtime}
	</if>

</where>
</sql>

<!-- 插入记录 [说明：如果要返回当前对象，需要如下配置：<insert id="addVo" parameterType="Object" useGeneratedKeys="true" keyProperty="id">] -->
<insert id="addVo" parameterType="Object" >
  insert into ht_user_role(dm_id,staff_id,roleid,cr_user_id,crname,crtime)
 values(#{dmId},#{staffId},#{roleid},#{crUserId},#{crname},#{crtime})
</insert>
<!--批量插入记录 -->
<insert id="addList" parameterType="java.util.List">
  insert into ht_user_role(dm_id,staff_id,roleid,cr_user_id,crname,crtime) values
   <foreach collection="list" item="item" index="index" separator=",">
	  (
	  	 #{item.dmId},#{item.staffId},#{item.roleid},#{item.crUserId},#{item.crname},#{item.crtime}
	  )
	  </foreach> 
</insert>

<!-- 删除记录 -->
<delete id="delId" parameterType="Object">
	delete 	 from ht_user_role where dm_id = #{dmId}
</delete>
<!--批量删除-->
<delete id="delIds" parameterType="java.lang.String">
	delete 	 from ht_user_role where dm_id in 
	<foreach item="idItem" collection="array" open="(" separator="," close=")"> 
	#{idItem}
	</foreach> 
</delete>
<!--批量删除-->
<delete id="delList" parameterType="java.util.List">
	delete 	 from ht_user_role where dm_id in 
	<foreach item="idItem" collection="list" index="index" open="(" separator="," close=")"> 
	#{idItem}
	</foreach> 
</delete>

<!-- 根据id，修改记录-->  
 <update id="modVo" parameterType="Object" >
  update ht_user_role set staff_id=#{staffId},roleid=#{roleid},cr_user_id=#{crUserId},crname=#{crname},crtime=#{crtime} where dm_id=#{dmId}
 </update>
 <!-- 修改记录，只修改只不为空的字段 -->
<update id="modVoNotNull" parameterType="Object" >
	update ht_user_role set 
	<trim  suffixOverrides="," >
	<if test="staffId != null  ">
		staff_id=#{staffId},
	</if>
	<if test="roleid != null  ">
		roleid=#{roleid},
	</if>
	<if test="crUserId != null  ">
		cr_user_id=#{crUserId},
	</if>
	<if test="crname != null  and crname != '' ">
		crname=#{crname},
	</if>
	<if test="crtime != null  ">
		crtime=#{crtime},
	</if>
	</trim> where dm_id=#{dmId}
</update>
 
<!-- 根据id查询 商户用户与角色关联 -->
<select id="findVo"  resultMap="BaseResultMap" parameterType="Object">
	select <include refid="Base_Column_List" /> 
	 from ht_user_role t where t.dm_id = #{dmId}
</select>

<!-- 商户用户与角色关联 列表总数-->
<select id="queryCount" resultType="java.lang.Integer"  parameterType="Object">
	select count(1) from ht_user_role t 
	<include refid="Example_Where_Clause"/>
</select>

<!-- 分页查询商户用户与角色关联列表 -->
<select id="queryList" resultMap="BaseResultMap"  parameterType="Object">
	select 
	<include refid="Base_Column_List"/>
	from ht_user_role t 
	<include refid="Example_Where_Clause"/>
	
	<if test="orderCondition != null and orderCondition != ''" >
      ${orderCondition}
    </if>
    <if test="mysqlQueryCondition != null and mysqlQueryCondition != ''" >
       ${mysqlQueryCondition}
    </if>
</select>

<!-- 查询商户用户与角色关联列表 -->
<select id="findList" resultMap="BaseResultMap"  parameterType="Object">
	select 
	<include refid="Base_Column_List"/>
	from ht_user_role t 
	<include refid="Example_Where_Clause"/>
</select>

</mapper>