<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qtz.ht.system.dao.HtFloorDao" >
<!-- Result Map com.qtz.ht.system.vo.HtFloor-->
<resultMap id="BaseResultMap" type="com.qtz.ht.system.vo.HtFloor" >
	 <result column="dm_id"  property="dmId"/> 
	 <result column="floor_name"  property="floorName"/> 
	 <result column="main_picture"  property="mainPicture"/> 
	 <result column="link_url"  property="linkUrl"/> 
	 <result column="is_special"  property="isSpecial"/> 
	 <result column="good_number"  property="goodNumber"/> 
	 <result column="sort_number"  property="sortNumber"/> 
	 <result column="category_id"  property="categoryId"/> 
	 <result column="is_valid"  property="isValid"/> 
	 <result column="cr_user_id"  property="crUserId"/> 
	 <result column="crtime"  property="crtime"/> 
	
</resultMap>

<!-- ht_floor table all fields -->
<sql id="Base_Column_List" >
	 t.dm_id,t.floor_name,t.main_picture,t.link_url,t.is_special,t.good_number,t.sort_number,t.category_id,t.is_valid,t.cr_user_id,t.crtime
</sql>

<!-- 查询条件 -->
<sql id="Example_Where_Clause">
<where>
	<if test="dmId != null  ">
		 and t.dm_id=#{dmId}
	</if>
	<if test="floorName != null  and floorName != '' ">
		 and t.floor_name=#{floorName}
	</if>
	<if test="mainPicture != null  and mainPicture != '' ">
		 and t.main_picture=#{mainPicture}
	</if>
	<if test="linkUrl != null  and linkUrl != '' ">
		 and t.link_url=#{linkUrl}
	</if>
	<if test="isSpecial != null  ">
		 and t.is_special=#{isSpecial}
	</if>
	<if test="goodNumber != null  ">
		 and t.good_number=#{goodNumber}
	</if>
	<if test="sortNumber != null  ">
		 and t.sort_number=#{sortNumber}
	</if>
	<if test="categoryId != null  ">
		 and t.category_id=#{categoryId}
	</if>
	<if test="isValid != null  ">
		 and t.is_valid=#{isValid}
	</if>
	<if test="crUserId != null  ">
		 and t.cr_user_id=#{crUserId}
	</if>
	<if test="crtime != null  ">
		 and t.crtime=#{crtime}
	</if>

</where>
</sql>

<!-- 插入记录 [说明：如果要返回当前对象，需要如下配置：<insert id="addVo" parameterType="Object" useGeneratedKeys="true" keyProperty="id">] -->
<insert id="addVo" parameterType="Object" >
  insert into ht_floor(dm_id,floor_name,main_picture,link_url,is_special,good_number,sort_number,category_id,is_valid,cr_user_id,crtime)
 values(#{dmId},#{floorName},#{mainPicture},#{linkUrl},#{isSpecial},#{goodNumber},#{sortNumber},#{categoryId},#{isValid},#{crUserId},#{crtime})
</insert>
<!--批量插入记录 -->
<insert id="addList" parameterType="java.util.List">
  insert into ht_floor(dm_id,floor_name,main_picture,link_url,is_special,good_number,sort_number,category_id,is_valid,cr_user_id,crtime) values
   <foreach collection="list" item="item" index="index" separator=",">
	  (
	  	 #{item.dmId},#{item.floorName},#{item.mainPicture},#{item.linkUrl},#{item.isSpecial},#{item.goodNumber},#{item.sortNumber},#{item.categoryId},#{item.isValid},#{item.crUserId},#{item.crtime}
	  )
	  </foreach> 
</insert>

<!-- 删除记录 -->
<delete id="delId" parameterType="Object">
	delete 	 from ht_floor where dm_id = #{dmId}
</delete>
<!--批量删除-->
<delete id="delIds" parameterType="java.lang.String">
	delete 	 from ht_floor where dm_id in 
	<foreach item="idItem" collection="array" open="(" separator="," close=")"> 
	#{idItem}
	</foreach> 
</delete>
<!--批量删除-->
<delete id="delList" parameterType="java.util.List">
	delete 	 from ht_floor where dm_id in 
	<foreach item="idItem" collection="list" index="index" open="(" separator="," close=")"> 
	#{idItem}
	</foreach> 
</delete>

<!-- 根据id，修改记录-->  
 <update id="modVo" parameterType="Object" >
  update ht_floor set floor_name=#{floorName},main_picture=#{mainPicture},link_url=#{linkUrl},is_special=#{isSpecial},good_number=#{goodNumber},sort_number=#{sortNumber},category_id=#{categoryId},is_valid=#{isValid},cr_user_id=#{crUserId},crtime=#{crtime} where dm_id=#{dmId}
 </update>
 <!-- 修改记录，只修改只不为空的字段 -->
<update id="modVoNotNull" parameterType="Object" >
	update ht_floor set 
	<trim  suffixOverrides="," >
	<if test="floorName != null  and floorName != '' ">
		floor_name=#{floorName},
	</if>
	<if test="mainPicture != null  and mainPicture != '' ">
		main_picture=#{mainPicture},
	</if>
	<if test="linkUrl != null  and linkUrl != '' ">
		link_url=#{linkUrl},
	</if>
	<if test="isSpecial != null  ">
		is_special=#{isSpecial},
	</if>
	<if test="goodNumber != null  ">
		good_number=#{goodNumber},
	</if>
	<if test="sortNumber != null  ">
		sort_number=#{sortNumber},
	</if>
	<if test="categoryId != null  ">
		category_id=#{categoryId},
	</if>
	<if test="isValid != null  ">
		is_valid=#{isValid},
	</if>
	<if test="crUserId != null  ">
		cr_user_id=#{crUserId},
	</if>
	<if test="crtime != null  ">
		crtime=#{crtime},
	</if>
	</trim> where dm_id=#{dmId}
</update>
 
<!-- 根据id查询 楼层管理表 -->
<select id="findVo"  resultMap="BaseResultMap" parameterType="Object">
	select <include refid="Base_Column_List" /> 
	 from ht_floor t where t.dm_id = #{dmId}
</select>

<!-- 楼层管理表 列表总数-->
<select id="queryCount" resultType="java.lang.Integer"  parameterType="Object">
	select count(1) from ht_floor t 
	<include refid="Example_Where_Clause"/>
</select>

<!-- 分页查询楼层管理表列表 -->
<select id="queryList" resultMap="BaseResultMap"  parameterType="Object">
	select 
	<include refid="Base_Column_List"/>
	from ht_floor t 
	<include refid="Example_Where_Clause"/>
	
<!-- 	<if test="orderCondition != null and orderCondition != ''" > -->
<!--       ${orderCondition} -->
<!--     </if> -->
    <if test="mysqlQueryCondition != null and mysqlQueryCondition != ''" >
       ${mysqlQueryCondition}
    </if>
</select>

<!-- 查询楼层管理表列表 -->
<select id="findList" resultMap="BaseResultMap"  parameterType="Object">
	select 
	<include refid="Base_Column_List"/>
	from ht_floor t 
	<include refid="Example_Where_Clause"/>
</select>

</mapper>